body {margin: 0; font-family: sans-serif;}

/*
======================= Header Section ==========================
*/

header {
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    
}

header > h2{color: rgb(80, 80, 80);}
header > p{color: rgb(97, 97, 97);}

#navbar{
    box-sizing: border-box;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    border: 2px solid #ffbf00;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: top 0.2s;
}

#navbar > nav {
    border: 2px solid #ffbf00;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    gap: 2px;
    background-color: #ffbf00;
    width: 26rem;
    height: max-content;
    align-items: center;
    justify-content: space-evenly;
}

#navbar > nav > a {
    color: rgb(56, 56, 56);
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    text-decoration: none;
}

#nav_left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#nav_right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#navbar > nav > a:hover {background-color: whitesmoke;}

.logo{width: 160px;}

/*
======================= Main Section ==========================
*/
.home_page{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.review, .contact_us{
    display: flex;
    flex-direction: column;
}

.review {
    width: 50%;
    box-sizing: border-box;
}

.home_photo{
    border-radius: 0.5rem;
    width: 100%;
}

.line{
    align-self: center;
    height: 0.2rem;
    width: 30%;
    background-color: rgb(97, 97, 97);
}

.profile{
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
    box-sizing: border-box;
}

.banner{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
}

.banner > button {
    font-size: medium;
    background-color: #ffd558;
    font-weight: bold;
    height: 40%;
    width: 10%;
    border-radius: 10px;
}

.profile > span {
    color: rgb(97, 97, 97);
    text-align: left;
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0rem;
}

.user_data{margin-left: 2rem;}
.user_data > i {color: rgb(97, 97, 97);}
.user_data > b {color: rgb(80, 80, 80);}

#user_pp{
    border-radius: 50%;
    width: 4rem;
}

.contact_us{
    border-radius: 0.5rem;
    width: 30%;
    background-color: #ffd558;
    box-sizing: border-box;
    padding: 3rem;
    height: max-content;
}

#contact_us_text{font-size: 1.2rem;}
#melina_text{
    font-size: 1rem;
    text-align: justify;
}
form{margin-top: 2rem; display: block;}
form > label{
    display: block;
    font-size: 1rem;
    font-weight: bold;
}

input[type=text], select {
    padding: 1rem;
    width: 100%;
    display: block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select:hover{cursor: pointer;}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    cursor: pointer;
    background-color: #45a049;
}

/*
======================= Footer Section ==========================
*/