body {margin: 0; font-family: sans-serif;}

/*
======================= Header Section ==========================
*/

header {
    display: flex;
    flex-direction: column;
}

.navbar{
    border: 2px solid #ffbf00;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar > nav {
    border: 2px solid #ffbf00;
    display: flex;
    flex-direction: row;
    gap: 2px;
    background-color: #ffbf00;
    width: 26rem;
    height: max-content;
    align-items: center;
    justify-content: space-evenly;
}

.navbar > nav > a {
    color: rgb(56, 56, 56);;
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    text-decoration: none;
}

.navbar > nav > a:hover {background-color: whitesmoke;}

.logo{width: 150px;}

.headerbar {
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.headerbar > h2{color: rgb(80, 80, 80);}
.headerbar > p{color: rgb(97, 97, 97);}

/*
======================= Main Section ==========================
*/

.contact_us{

}

.home_photo{
    width: 32rem;
}

/*
======================= Footer Section ==========================
*/